.topbar {
  width: 100%;
  height: 70px;
  background-color: darkblue;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarWrapper {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.topbarForm > input {
  padding: 10px 5px;
  width: 400px;
  border: none;
}

.topbarForm > input::placeholder {
  color: #555;
  font-size: 20px;
  font-weight: 400;
}

.tobarFormIcon {
  position: absolute;
  bottom: 20px;
  right: 45%;
  font-size: 20px;
}

.topbarRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.request {
  margin: 5px;
  width: 150px;
  height: 30px;
  background: none;
  color: #fff;
  border-radius: 2px;
  border: 1px solid #fff;
  cursor: pointer;
}
.book {
  width: 150px;
  height: 30px;
  background: rgb(79, 216, 79);
  color: #fff;
  border-radius: 2px;

  cursor: pointer;
}
/* @media screen and (max-width: 998px) {
  .topbarForm > input {
    width: 100px;
  }
  .request {
    width: 100px;
    height: 40px;
  }
  .book {
    width: 100px;
    height: 40px;
  }
  .tobarFormIcon {
    right: 50%;
  }
} */
